body {
    background: #2f3060;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 400px;
}

button {
    width: 140px;
    height: 55px;
    border: hidden;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
}

button:hover {
    filter: brightness(110%);
}

button:active{
    filter: brightness(90%);
}

.blue {
    background: #3e5b9b;
    box-shadow: 0px 5px #26396d;
}

.green {
    background: #1cac59;
    margin: 0 100px;
    box-shadow: 0px 5px #166a40;
}

.red {
    background: #d74736;
    box-shadow: 0px 5px #862b2f;
}