body {
    margin: 0;
    padding: 0;

}

.all{
    background: black;
    padding: 1px;
}

.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(50, auto);
    margin: 2px;
    gap: 3px;
    background: black;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    background: #ffd62a;
    min-height: 155px;
}

.text{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotateZ(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    grid-column: 2/7;
    grid-row: 2/6;
    background: #51d400;
    justify-content: flex-end;
    align-items: center;
    box-shadow: inset 0px 0px 25px 2px black;}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    width: 600px;
    height: 250px;
    background:#b02aff;
    margin-right: 50px;
}