.container {
    display: flex;
    flex-flow: column;
}

.item {
    height: 100px;
    width: 100px;
}

.yellow {
    background: #ffd62a;
    height: 300px;
    width: 300px;
    position: relative;
}

.purple {
    background: #b02aff;
    position: absolute;
    top: 200px;
    left: 110px;
}