.body {
    margin: 0px;
}

.container {
    display: flex;
    background: #ffd62a;
    height: 400px;
    padding: 0px;
    justify-content: space-between;
}

.item {
    height: 100px;
    width: 100px;
    background: #b02aff;
    list-style-type: none;
    align-self: center;
    margin: 10px 10px 10px 0px;
}