
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    background: black;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
}

.container-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


.normal{
    background: #b02aff;
}

.larger{
    background: #51d400;
    grid-column: 2/4;
    grid-row: 1/ 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insider{
    background: #ffd62a;
    z-index: 1;
    width: 475px;
    height: 250px
}