body{
    font-size: 18px;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 60px auto;
    width: 800px;
    height: 400px;
    background: #ebbcbb;
    box-shadow: 20px 20px #8390cc;
    border-radius: 16px;
}

.inputcontainer{
    display: flex;
    flex-flow: row;
}

form{
    margin: auto;
}

select{
    width: 200px;
    margin: 20px 20px 20px 0px;
    height: 40px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}